<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="body_guide">
  <% include header.ejs %>
    <div class="order_bar"></div>
    <div class="order_content">
      ADMIN
      <p></p>
      <div class="order_bar"> </div>


Liste des produits disponibles
      <hr>

        <% for(var i=0; i<product.length; i++) {%>
          <ul class="admin_ul3">

          <li><%= product[i].nom %> ( <%= product[i].name %> )</li>
          <li><img style="width: 100px;" src="/images/modeles/<%= product[i].name %>/<%= product[i].nom %>.jpg" alt=""></li>
          <li><%= product[i].prix %> €</li>
          <li><%= product[i].frequence %> Hz</li>
          <li>Top <%= product[i].classement %> </li>
          <li>Modèle : <%= product[i].modele %></li>
          <li><%= product[i].nbColors %> couleur(s) </li>
          </ul>
        <% } %>
<%= essence[1].essence %>

<p></p>
Liste des utilisateurs
      <hr>

        <% for(var i=0; i<user.length; i++) {%>
          <ul class="admin_ul3">

          <li><%= user[i].nom %> <%= user[i].prenom %> </li>
          <li><%= user[i].adresse %> </li>
          <li><%= user[i].ville %> - <%= user[i].postal %> </li>
          <li><%= user[i].mail %> </li>
          <li><%= user[i].telephone %> </li>
          <li><%= user[i].contexte %> </li>
          <li>Lien commande</li>
          <li>Lien livraison </li>
          <li>Lien admin </li>

          </ul>
        <% } %>
</body>


</html>
